<!-- BEGIN_INCLUDE(dynamodb:create-table) -->
    <dynamodb:create-table tableName="string" readCapacityUnits="1" writeCapacityUnits="1" primaryKeyName="num" waitFor="1"/>
<!-- END_INCLUDE(dynamodb:create-table) -->

<!-- BEGIN_INCLUDE(dynamodb:describe-table) -->
    <dynamodb:describe-table tableName="string"/>
<!-- END_INCLUDE(dynamodb:describe-table) -->

<!-- BEGIN_INCLUDE(dynamodb:save-document) -->
    <dynamodb:save-document tableName="string" document-ref="object"/>
<!-- END_INCLUDE(dynamodb:save-document) -->

<!-- BEGIN_INCLUDE(dynamodb:get-document) -->
    <dynamodb:get-document tableName="string" template-ref="object"/>
<!-- END_INCLUDE(dynamodb:get-document) -->

<!-- BEGIN_INCLUDE(dynamodb:update-document) -->
    <dynamodb:update-document tableName="string" document-ref="object"/>
<!-- END_INCLUDE(dynamodb:update-document) -->